{% extends 'blog/base.html' %}

{% block content %}
    <h1 class="font">Ez egy statikus oldal</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis porta commodo. In hac habitasse platea dictumst.
                Pellentesque congue, mauris quis lobortis vestibulum, arcu dui pulvinar nisl, non faucibus arcu tellus nec urna. Donec egestas elit odio, non pulvinar massa sodales at.
                Maecenas scelerisque nunc nec arcu placerat, sed venenatis urna faucibus. Mauris eu placerat velit. Nam ut mollis nibh. Etiam sit amet eleifend velit.
                Phasellus eu faucibus mauris. Vestibulum vel magna nec tortor fringilla lobortis. Sed pretium nisi quis risus consequat tincidunt.
            </div>
            <div class="col">
                Pellentesque sagittis luctus interdum. Proin tincidunt ac ligula a sollicitudin. Curabitur dolor nunc, accumsan sed molestie eget, viverra et odio.
                Morbi quis ex quis purus lobortis luctus. Cras sit amet interdum magna. Morbi ut placerat tellus. Nam id consequat urna. Nunc id augue dui.
                Vivamus finibus nulla neque, et dictum mauris viverra ac. Suspendisse feugiat nibh mauris, quis accumsan nulla facilisis vitae.
                Nulla ornare metus justo, non mollis risus malesuada nec. Aenean feugiat nisi rhoncus facilisis aliquam. In vel urna ut libero imperdiet ornare.
            </div>
            <div class="col">
                 <img src="https://icon-library.net/images/django-icon/django-icon-0.jpg" style="width: 20em">
            </div>
        </div>
    </div>


{% endblock %}
